@import "~bootstrap/scss/bootstrap.scss";

.btn.btn-lg{
    border-radius: 0px !important;
}
h2{
    font-size: 20px;;
}
.help-modal{
    background-color: grey; color: white;
    width: 100%;
    ul{margin: 0; padding: 0;}
    li{list-style: none; display: inline-block; margin: 3px; background: white; color: black; padding: 5px; border-radius: 5px; cursor: pointer; }
}
.editor{
    height: 80vh;
}
.btn-upload{
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
.status-bar{
    height: 55px;
}

.player{
    background: grey;
    button{
        background: grey;
        border: 0px;
        padding: 5px 15px;
        font-size: 20px;
        float: left;
        width: 100px;
        height: 48px;
        text-align: center;
    }
    .song-info{
        display: inline-block;
        width: calc(100vw - 130px);
        .song-title{
            padding: 2px;
            margin: 0;
            font-size: 17px;
        }
    }
}